footer {
  background-color: #aba0a0;
  padding: 10px;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  display: inline;
  margin: 0 10px;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  color: #007bff;
}
