/* src/components/HeroSection.css */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #46535e; /* Light grey background */
  color: #333; /* Darker text for contrast */
  text-align: center;
  padding: 50px 15px;
  overflow: hidden;
}

.hero-title,
.hero-subtitle {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in-up 1s ease forwards;
}

.hero-title {
  font-size: 4rem;
  margin: 0;
  color: #fdb515; /* Dark color for the title */
  letter-spacing: 5px;
  animation-delay: 0.3s;
}

.hero-subtitle {
  font-size: 2rem;
  margin-top: 20px;
  color: #fdb515; /* Subdued text color */
  animation-delay: 0.6s;
}

.label {
  background-color: #112240;
  color: #c4820e;
  border-radius: 4px;
  padding: 5px 10px;
  display: inline-block;
}

.software-engineer {
  background-color: #003262; /* LinkedIn blue for example */
}

.ai-researcher {
  background-color: #3b7ea1; /* A soft pink for contrast */
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
}
